---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "monica.fullname" . }}
  labels:
    {{- include "monica.labels" . | nindent 4 }}
    {{- with .Values.deploymentLabels }}
    {{ toYaml . | indent 4 }}
    {{- end }}
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{ toYaml . | indent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    {{ toYaml .Values.monica.strategy | indent 4 }}
  selector:
    matchLabels:
      {{- include "monica.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: app
  template:
    metadata:
      labels:
        {{- include "monica.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: app
        {{- if .Values.redis.enabled }}
        {{ template "monica.redis.fullname" . }}-client: "true"
        {{- end }}
        {{- if .Values.memcached.enabled }}
        {{ template "monica.memcached.fullname" . }}-client: "true"
        {{- end }}        
        {{- with .Values.podLabels }}
        {{ toYaml . | indent 8 }}
        {{- end }}
      annotations:
        php-config-hash: {{ toJson .Values.monica.phpConfigs | sha256sum }}
        {{- if .Values.nginx.enabled }}
        nginx-config-hash: {{ print .Values.nginx.config.default "-" .Values.nginx.config.custom | sha256sum }}
        {{- end }}      
        {{- with .Values.podAnnotations }}
        {{ toYaml . | indent 8 }}
        {{- end }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- range . }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.lifecycle }}
          lifecycle:
            {{- with .postStartCommand }}
            postStart:
              exec:
                command:
                  {{- toYaml . | nindent 18 }}
            {{- end }}
            {{- if .preStopCommand }}
            preStop:
              exec:
                command:
                  {{- toYaml . | nindent 18 }}
            {{- end }}
          {{- end }}
          env:
            {{- include "monica.env" . | indent 12 }}
          {{- if not .Values.nginx.enabled }}
          ports:
            - name: http
              protocol: TCP
              containerPort: {{ .Values.monica.containerPort | default 80 }}
          {{- end }}
          resources:
            {{ toYaml .Values.resources | indent 12 }}
          volumeMounts:
            {{- include "monica.volumeMounts" . | trim | nindent 12 }}

        {{- if .Values.monica.cronjob.enabled }}
        - name: {{ .Chart.Name }}-cron
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ 'cron.sh' ]
          {{- with .Values.monica.cronjob.lifecycle }}
          lifecycle:
            {{- with .postStartCommand }}
            postStart:
              exec:
                command:
                  {{- toYaml . | nindent 18 }}
            {{- end }}
            {{- if .preStopCommand }}
            preStop:
              exec:
                command:
                  {{- toYaml . | nindent 18 }}
            {{- end }}
          {{- end }}
          env:
            {{- include "monica.env" . | indent 12 }}
          resources:
            {{ toYaml .Values.resources | indent 12 }}
          volumeMounts:
            {{- include "monica.volumeMounts" . | trim | nindent 12 }}
        {{- end }}{{/* monica.cronjob.enabled */}}

        {{- if .Values.monica.queue.enabled }}
        - name: {{ .Chart.Name }}-queue
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ 'queue.sh' ]
          {{- with .Values.monica.queue.lifecycle }}
          lifecycle:
            {{- if .postStartCommand }}
            postStart:
              exec:
                command:
                  {{- toYaml . | nindent 18 }}
            {{- end }}
            {{- if .preStopCommand }}
            preStop:
              exec:
                command:
                  {{- toYaml . | nindent 18 }}
            {{- end }}
          {{- end }}
          env:
            {{- include "monica.env" . | indent 12 }}
          resources:
            {{ toYaml .Values.resources | indent 12 }}
          volumeMounts:
            {{- include "monica.volumeMounts" . | trim | nindent 12 }}
        {{- end }}{{/* monica.queue.enabled */}}

        {{- if .Values.nginx.enabled }}
        - name: {{ .Chart.Name }}-nginx
          image: "{{ .Values.nginx.image.repository }}:{{ .Values.nginx.image.tag }}"
          imagePullPolicy: {{ .Values.nginx.image.pullPolicy }}
          {{- with .Values.nginx.extraEnv }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.nginx.containerPort | default 80 }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          {{- if .enabled }}
          livenessProbe:
            httpGet:
              path: /status.php
              port: {{ $.Values.monica.containerPort | default 80 }}
              httpHeaders:
                - name: Host
                  value: {{ $.Values.monica.host | quote }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}{{/* livenessProbe.enabled */}}
          {{- end }}
          {{- with .Values.readinessProbe }}
          {{- if .enabled }}
          readinessProbe:
            httpGet:
              path: /status.php
              port: {{ $.Values.monica.containerPort | default 80 }}
              httpHeaders:
                - name: Host
                  value: {{ $.Values.monica.host | quote }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}{{/* readinessProbe.enabled */}}
          {{- end }}
          resources:
            {{ toYaml .Values.nginx.resources | indent 12 }}
          volumeMounts:
            {{- if .Values.persistence.enabled }}
            - name: monica-storage
              mountPath: {{ .Values.monica.datadir }}
            {{- end }}
            - name: monica-nginx-config
              mountPath: /etc/nginx/conf.d/
            {{- with .Values.monica.extraVolumeMounts }}
            {{ toYaml . | indent 12 }}
            {{- end }}
        {{- end }}{{/* nginx.enabled */}}

      {{- with .Values.monica.extraSidecarContainers }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.monica.extraInitContainers .Values.mariadb.enabled .Values.postgresql.enabled }}
      initContainers:
        {{- with .Values.monica.extraInitContainers }}
        {{- toYaml . | nindent 8 }}
        {{- end }}

        {{- if .Values.mariadb.enabled }}
        - name: mariadb-isalive
          image: {{ .Values.mariadb.image.registry | default "docker.io" }}/{{ .Values.mariadb.image.repository }}:{{ .Values.mariadb.image.tag }}
          env:
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalDatabase.existingSecret.secretName | default (printf "%s-db" .Release.Name) }}
                  key: {{ .Values.externalDatabase.existingSecret.usernameKey | default "db-username" }}
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalDatabase.existingSecret.secretName | default (printf "%s-db" .Release.Name) }}
                  key: {{ .Values.externalDatabase.existingSecret.passwordKey | default "db-password" }}
          command:
            - "sh"
            - "-c"
            - {{ printf "until mariadb --host=%s-mariadb --user=${MYSQL_USER} --password=${MYSQL_PASSWORD} --execute=\"SELECT 1;\"; do echo waiting for mysql; sleep 2; done;" .Release.Name }}
        {{- else if .Values.postgresql.enabled }}
        - name: postgresql-isready
          image: {{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalDatabase.existingSecret.secretName | default (printf "%s-db" .Release.Name) }}
                  key: {{ .Values.externalDatabase.existingSecret.usernameKey | default "db-username" }}
            - name: POSTGRES_HOST
              value: {{ template "postgresql.v1.primary.fullname" .Subcharts.postgresql }}                  
          command:
            - "sh"
            - "-c"
            - "until pg_isready -h ${POSTGRES_HOST} -U ${POSTGRES_USER} ; do sleep 2 ; done"
        {{- end }}
      {{- end }}{{/* end-if .Values.monica.extraInitContainers .Values.mariadb.enabled .Values.postgresql.enabled */}}

      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      volumes:
        {{- if .Values.persistence.enabled }}
        - name: monica-storage
          persistentVolumeClaim:
            claimName: {{ if .Values.persistence.existingClaim }}{{ .Values.persistence.existingClaim }}{{- else }}{{ template "monica.fullname" . }}-storage{{- end }}
        {{- end }}
        {{- if .Values.monica.configs }}
        - name: monica-config
          configMap:
            name: {{ template "monica.fullname" . }}-config
        {{- end }}
        {{- if .Values.monica.phpConfigs }}
        - name: monica-phpconfig
          configMap:
            name: {{ template "monica.fullname" . }}-phpconfig
        {{- end }}
        {{- if .Values.nginx.enabled }}
        - name: monica-nginx-config
          configMap:
            name: {{ template "monica.fullname" . }}-nginxconfig
        {{- end }}
        {{- with .Values.monica.extraVolumes }}
        {{ toYaml . | indent 8 }}
        {{- end }}

      securityContext:
        {{- with .Values.securityContext }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.nginx.enabled }}
        # Will mount configuration files as www-data (id: 82) for monica
        fsGroup: 82
        {{- else }}
        # Will mount configuration files as www-data (id: 33) for monica
        fsGroup: 33
        {{- end }}

      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "monica.serviceAccountName" . }}
      {{- end }}
