apiVersion: v2
name: monica
description: A Helm chart for Kubernetes to install Monica
type: application
version: 1.0.8
appVersion: "5.0.0"
icon: https://www.monicahq.com/favicon.ico
maintainers:
  - name: MonicaHQ
    url: https://github.com/monicahq/monica
  - name: asbiin
    email: alexis@saettler.org
keywords:
  - crm
kubeVersion: ">=1.16.0-0"
sources:
  - https://github.com/monicahq/helm
  - https://github.com/monicahq/docker
dependencies:
  - name: postgresql
    version: 16.0.*
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: mariadb
    version: 19.1.*
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mariadb.enabled
  - name: redis
    version: 20.2.*
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: memcached
    version: 7.5.*
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: memcached.enabled
  - name: meilisearch
    version: 0.10.*
    repository: https://meilisearch.github.io/meilisearch-kubernetes
    condition: meilisearch.enabled
