name: Release Charts

on:
  push:
    branches:
      - main
      
  workflow_dispatch:

env:
  helm: v3.16.2

jobs:
  release:
    name: Release Charts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Turnstyle
        uses: softprops/turnstyle@v2
        with:
          continue-after-seconds: 180
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Import GPG key
        run: |
          echo -e "$GPG_PRIVATE_KEY" | gpg --batch --yes --import -
          gpg --list-secret-keys
          gpg --export >~/.gnupg/pubring.gpg
          gpg --export-secret-keys > ~/.gnupg/secring.gpg
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: ${{ env.helm }}

      - name: Add dependency chart repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add meilisearch https://meilisearch.github.io/meilisearch-kubernetes

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1
        env:
          CR_KEY: ${{ secrets.CR_KEY }}
          CR_KEYRING: ~/.gnupg/secring.gpg
          CR_SIGN: true
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
