name: Tests
on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  helm: v3.16.2
  python-version: 3.x

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: ${{ env.helm }}

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.python-version }}

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml --target-branch ${{ github.event.repository.default_branch }}

  helm-tests:
    runs-on: ubuntu-latest
    name: Helm tests (${{ matrix.test_cases.name }})

    strategy:
      fail-fast: false
      matrix:
        test_cases:
          # test the plain helm chart with nothing changed
          - name: Default - no custom values

          # test the helm chart with postgresql subchart enabled
          - name: PostgreSQL enabled
            helm_args: '--set=internalDatabase.enabled=false --set=postgresql.enabled=true'

          # test the helm chart with mariadb subchart enabled
          - name: Mariadb enabled
            helm_args: '--set=internalDatabase.enabled=false --set=mariadb.enabled=true'

          # test the helm chart with nodeport service enabled
          - name: nginx
            helm_args: '--set=service.type=NodePort --set=service.nodePort=30001'

          # test the helm chart with nginx subchart enabled
          - name: nginx
            helm_args: '--set=nginx.enabled=true'
            tag: main-fpm

          # test the helm chart with redis, queue and more
          - name: Redis and queue enabled
            file: redis.yaml

          # test the helm chart with meilisearch
          - name: Meilisearch and queue enabled
            file: meilisearch.yaml          

          - name: External database
            external_database: true
            helm_args: '--set=internalDatabase.enabled=false --set=externalDatabase.enabled=true --set=externalDatabase.type=mysql --set=externalDatabase.host=127.0.0.1 --set=externalDatabase.user=root --set=externalDatabase.password=root --set=externalDatabase.database=monica'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: ${{ env.helm }}

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.python-version }}

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
  
      - name: Create kind cluster
        uses: helm/kind-action@v1
        if: steps.list-changed.outputs.changed == 'true'

      - name: Create mysql database
        if: matrix.test_cases.external_database
        run: |
          sudo systemctl start mysql.service
          mysql --protocol=tcp -u root -proot -e "CREATE DATABASE IF NOT EXISTS monica CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"

      - name: Cp test case file
        if: matrix.test_cases.file != ''
        run: cp .github/tests/${{ matrix.test_cases.file }} charts/monica/ci/test-values.yaml

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml --helm-extra-args '--timeout 600s' --target-branch ${{ github.event.repository.default_branch }} --helm-extra-set-args "--set=image.repository=ghcr.io/monicahq/monica-next --set=image.tag=${{ matrix.test_cases.tag || 'main' }} ${{ matrix.test_cases.helm_args }}"
